# L8 : Variables

In computer programming, <b>variables</b> are used to store, process, and manipulate data. So, let's say you wanted to store `28` in the variable `age`, this is what you would do:

In [1]:
# name: data-type = value
# datatypes = int, str, float, list, bool, dict, set
age : int = 20

So if you used `print()` with `age` as an argument, you would get the value that you assigned to that variable.

In [2]:
print(age)
print(type(age))

# age is an obj belonging to int class
# Objects have methods & attributes
# methods = actions (i.e: coding)
# attributes = properties (i.e: name)

# see all methods and attributes
print([i for i in dir(age) if '__' not in i])

20
<class 'int'>
['as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

With `age = 28` you are telling Python to create a variable named `age` and use it to store the value `28`. However, you can change the value assigned to any variable you previously created. For instance, you can assign a value of `5` to `age` using the following code:

In [3]:
age: int = 5

So if you display `age`, you will get `5` instead of `28`.

In [4]:
print(age)

5

In [19]:
age : int =  5
print(age)

age = 10
print(age)

age = age + 5
print(age)

5
10
15

In [16]:
# Mutable: Aise objects jinhein directly modify kiya ja sakta hai bina naye object create kiye. (e.g., list, dict)
# Immutable: Aise objects jinhein modify nahi kiya ja sakta; agar aap unhein update karte hain, toh ek naya object create hota hai. (e.g., str, int, float, tuple)

# Mutable:(e.g., list, dict)
# Immutable:(e.g., str, int, float, tuple)

# Example of mutable object (list)
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list.append(4)  # Modifying the list directly
print(my_list)  # Output: [1, 2, 3, 4]

# Example of immutable object (integer)
my_int = 5
print(my_int)  # Output: 5

# my_int = my_int + 1 # This creates a new integer object.  my_int does not change in place.
# print(my_int) # Output: 6

my_int += 1 # This creates a new integer object, and reassigns to my_int.
print(my_int) # Output: 6

# In the provided code, the variable age is reassigned multiple times.  Each assignment creates a new integer object, and variable age references the new integer.
# The variable age never changes in-place.

In [20]:
print(age)

15

## Variables store numbers, strings and other type of data

Variables can be used to store floating point numbers, integers, strings, and other types of data. For instance, you can create a variable `name` and assign it the string `"Otto"`, or a variable `gnome_height` and assign it the floating point number `12.7`.

In [64]:
name : str = "Pitbull"
gnome_height : float = 12.7

You can use variables within f-strings to make your output more readable. For example, you can print the value assigned to `age` along with the string `"Age: "` so that anyone reading the display will understand what the value represents.

Hereâ€™s how you can do it:

In [22]:
print(f"Age : {age}")

Age : 15

As another example, let's use f-strings to display the values assigned to `name` and `gnome_height`.

In [25]:
print(f"Name: {name}")
print(f"Gnome_height: {gnome_height}")

Name: ZAIN
Gnome_height: 12.7

<b>Important:</b> Variables are case-sensitive, so `Gnome_height` and `gnome_height` are not the same. To see this, you can run the next cell where you will get an error message.

In [ ]:
print(f"Gnome height: {Gnome_height}")

NameError: name 'Gnome_height' is not defined

## Variables help you store values that constantly change

Take a game where the score starts at zero. In the next cell, you create a variable `score`, assign it the value of `0`, and display the current score.

In [41]:
score : int = 0
print(score)

score = score + 10
print(score)

score = score + 40
print(score)

score = score + 100
print(score)

score = score + 300
print(score)

score += 50  # short form .
print(score)

0
10
50
150
450
500

When the score increases by 50 points, you can update the variable by using its previous value and adding `50`.

In [42]:
score = score + 50
print(score)

550

In a similar way, when the score increases by 100 points, the variable `score` can be updated by adding `100` to the previous value stored in `score`.

In [43]:
score = score + 100
print(score)

650

And, after scoring an extra 300 points, the variable `score` is updated by adding `300` to the previous value stored in `score`.

In [44]:
score = score + 300
print(score)

950

So at the end, the variable `score` stores the most updated score value.

You can print the final score using an f-string as shown in the cell below:

In [46]:
print(f"Your final score was: {score}") # print 950

Your final score was: 950

## Variable names restrictions

To demonstrate an important fact about variable names in Python, try to run the code below.

In [49]:
# No special character like space here i.e ( + - , * )
my_score: int = 450

Now, ask the chatbot why that code didn't work. You can use the prompt suggested here.

<p style="background-color:#F5C780; padding:15px"> ðŸ¤– <b>Use the Chatbot</b>: Why doesn't this code work? my score = 450
</p>

In [ ]:
# prompt: Why doesn't this code work? my score = 450

# The code "my score = 450" doesn't work because variable names in Python cannot contain spaces.
# Python variable names must follow specific rules:
#
# 1. They can only contain letters (a-z, A-Z), numbers (0-9), and underscores (_).
# 2. They cannot start with a number.
# 3. They are case-sensitive (myScore and myScore are different variables).
#
# In the example "my score = 450", the space between "my" and "score" violates the first rule, making it an invalid variable name.
#
# To fix it, you could use an underscore to replace the space:
# my_score = 450
#
# Or you could combine the words without a space:
# myscore = 450

## Variables allow you to code efficiently!

Recall the dog age example that you saw in previous lessons. Assuming that Otto is 49 years old, you can display his dog age by using `print(49 / 7)`.

In [50]:
print(49 / 7)

7.0

Using f-strings so that it is clear what you are displaying, you would use code similar to the one in the cell below.

In [52]:
print(f"Otto's age in dog years is {49 / 7}")

Otto's age in dog years is 7.0

Alternatively, now that you have seen how variables work, you can compute Otto's dog age and assign it to the variable `dog_age`.

In [54]:
dog_age: float = 49 / 7
print(dog_age)

7.0

You can see how this would be an advantage if you consider the following scenario. Let's say you want to display an f-string with Otto's dog age multiple times. Without using variables, you would need to compute his dog age as many times as you refer to it.

In [57]:
print(f"""Otto's dog age is {49/7}. So a dog that's about
{49/7} would be the same age as Otto. Any dog born about {49/7}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7.0. So a dog that's about
7.0 would be the same age as Otto. Any dog born about 9.8
years ago would be in the same stage of life as Otto.

If Otto became a year older, you would need to change the values in each of the curly braces to `50/7`. Instead, if you used an f-string with the `dog_age` variable as the one below:

In [58]:
print(f"""Otto's dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as Otto. Any dog born about {dog_age}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7.0. So a dog that's about
7.0 would be the same age as Otto. Any dog born about 7.0
years ago would be in the same stage of life as Otto.

You will only need to update `dog_age` with Otto's new equivalent dog age:

In [59]:
# Override
dog_age = 50/7

And use the same f-string that you used before without editing. By defining a variable once, you can use it in multiple places, which makes computer programs much more efficient.

In [60]:
print(f"""Otto's dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as Otto. Any dog born about {dog_age}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7.142857142857143. So a dog that's about
7.142857142857143 would be the same age as Otto. Any dog born about 7.142857142857143
years ago would be in the same stage of life as Otto.

As another example, you can replace the name "Otto" with the variable `name` in curly braces.

In [65]:
print(f"""{name}'s dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as {name}. Any dog born about {dog_age}
years ago would be in the same stage of life as {name}.""")

Pitbull's dog age is 7.142857142857143. So a dog that's about
7.142857142857143 would be the same age as Pitbull. Any dog born about 7.142857142857143
years ago would be in the same stage of life as Pitbull.

This way, you can change Otto's name to his first and last name:

In [66]:
name = "Otto Liam"

And use the f-string where the change is reflected in all places where the variable `name` appears.

In [67]:
print(f"""{name}'s dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as {name}. Any dog born about {dog_age}
years ago would be in the same stage of life as {name}.""")

Otto Liam's dog age is 7.142857142857143. So a dog that's about
7.142857142857143 would be the same age as Otto Liam. Any dog born about 7.142857142857143
years ago would be in the same stage of life as Otto Liam.

## Extra practice

Try the exercises below to practice the concepts from this lesson. Read the comments in each cell with the instructions for each exercise.

<b>Feel free to use the chatbot if you need help.</b>

In [73]:
# Create a variable called 'my_name' and assign it the value of your name as a string.
# Then print out a greeting using the variable, like "Hello, Sameer!"
my_name : str = "ZAIN"
print(f"Hello, {my_name}!")

Hello, ZAIN!

In [74]:
# Enter your favorite number below and store it in a variable called 'fav_num'.
# Print out a message telling you what your favorite number plus 10 is.
fav_num : int = 27
print(f"Your favourite number plus 10 is {fav_num + 10}")

Your favourite number plus 10 is 37

In [78]:
# Create two variables, 'countries_visited' and 'countries_to_visit' and assign them the number of
# countries you've been to and the number of countries you hope to visit. Then complete the print statement.

countries_visited : int = 7
countries_to_visit : int = 13

print(f"""I have visited {countries_visited} countries. I plan to visit {countries_to_visit} more countries,
      and when I'm done I will have visited {countries_visited + countries_to_visit} countries.""")

I have visited 7 countries. I plan to visit 13 more countries,
      and when I'm done I will have visited 20 countries.