# Lesson 6: Data in Python

There are different types of data in Python. Here, you will see how text and numbers are used in Python.

## Strings

Strings are used to store and manipulate text. As you see here, strings are written inside of quotes and can contain letters, numbers, punctuation marks, and other special characters. Run the following cells to print these four different strings.

In [1]:
print("Hello, World")

Hello, World

In [2]:
print("My favorite drink is Earl Grey tea.")

My favorite drink is Earl Grey tea.

In [3]:
print("¯\_(ツ)_/¯")

¯\_(ツ)_/¯

In [4]:
print("2.99")

2.99

## Multiline strings

If you use triple quotation marks, you can store a multiline string. These strings can span more than one line. When you run the following cell, you will see how the spaces in the second line are actually read as characters for the string.

In [7]:
print("""Hello, World!
      It's great to be here!""")

Hello, World!
      It's great to be here!

Trying to define a multiline string using single quotes will lead to errors.

In [4]:
print("Hello, World! \
      It's great to be here!\
      My name is ZAIN")

Hello, World!       It's great to be here!      My name is ZAIN

## The type() function

In Python, you can check the type of any data that you are using. To check the data type, you can use the `type()` function. When you run the next cell, you will retrieve the type for the string `"Andrew"`.

In [6]:
type("Sammer")

str

In [15]:
username = {"name":"ZAIN" , "age":20}
type(username)

dict

Python returned `str`, which is short for string. Let's check the type for a multiline string:

In [16]:
type("""
Numbers, text, and truth,
Strings, ints, and floats in our code,
Data shapes our path
""")

str

This also returns `str`, since it is also a string. Let's try a number within quotation marks:

In [17]:
type("2.99")

str

This is also a string, even though it looks like a number. By using quotation marks you're telling Python to treat it as text, rather than a number. What about a number without quotes?

In [18]:
type(100)

int

This time you get `int`, which is short for integer. Integers are the positive and negative whole numbers, like 42, 100, -9, and 0. Since there are no quotes around the number Python assumes this is numerical data, and since there is no decimal place on this number, it interprets it as an integer. Now, let's try a number that does have decimal places:

In [19]:
type(2.99)

float

The function type gives `float`, which is the data type used to store floating point numbers. Floating point numbers are positive and negative numbers that include a decimal place, like 3.14, 2.99, and -0.003.

## Python as a calculator!

Python works great for quick arithmetic operations. For instance, if you had a lemonade stand, and wanted to compute the total number of sales you made through the last 12 months, you can use Python like this:

In [ ]:
print(28+35+43+50+65+70+68+66+75+80+95)

In [20]:
# prompt: print(28+35+43+50+65+70+68+66+75+80+95)  show every addition step in comment

print(28+35+43+50+65+70+68+66+75+80+95)
# 28 + 35 = 63
# 63 + 43 = 106
# 106 + 50 = 156
# 156 + 65 = 221
# 221 + 70 = 291
# 291 + 68 = 359
# 359 + 66 = 425
# 425 + 75 = 500
# 500 + 80 = 580
# 580 + 95 = 675

675

As another example, you can perform more advanced math, like computing the compound interest after 10 years at a rate of 5%. To do that, you can compute 1.05 to the power of 10. Not sure how to do it in Python? You can use the Chatbot!

<p style="background-color:#F5C780; padding:15px"> 🤖 <b>Use the Chatbot</b>: How do I compute 1.05 to the power of 10?
</p>

In [21]:
# prompt: compute 1.05 to the power of 10 explain like 5 year old

# 1.05 to the power of 10 means 1.05 multiplied by itself 10 times.

# Imagine you have a magic money tree.  Every year, your money grows by 5% (that's 1.05 times bigger).

# After 1 year:  You start with $1, it grows to $1 * 1.05 = $1.05
# After 2 years: Your $1.05 grows to $1.05 * 1.05 = $1.1025
# ...and so on, for 10 years.

# Python makes this easy:

result = 1.05 ** 10
result

1.628894626777442

In [23]:
# prompt: compute the compound interest after 10 years at a rate of 5% and explain like 4

# Compound interest calculation
principal = 1  # Initial amount
rate = 0.05  # Annual interest rate (5%)
time = 10  # Number of years

amount = principal * (1 + rate) ** time
print(amount)

1.628894626777442

### Order of operations

In [34]:
# Order of Operations in Python

# | Rule Component | Operators |
# |---|---|
# | 1st | Parentheses | `()` |
# | 2nd | Exponents | `**` |
# | 3rd | Multiplication and Division | `*`, `/` |
# | 4th | Addition and Subtraction | `+`, `-` |

The order of operations in Python is the same as in arithmetic. First, you compute parentheses, then exponents, then you multiply and divide (from left to right), and finally, you add and subtract (from left to right).

So, if you are trying to convert from Fahrenheit to Celsius, the following cell will give you an incorrect answer:

In [35]:
print(75 - 32 * 5 / 9)

57.22222222222222

In [ ]:
# prompt: print(75 - 32 * 5 / 9)  please conclude steps in comments

print(75 - 32 * 5 / 9)
# 1. Multiplication: 32 * 5 = 160
# 2. Division: 160 / 9 = 17.777...
# 3. Subtraction: 75 - 17.777... = 57.222...

Whereas the computation in this cell is correct.

In [38]:
print((75 - 32) * 5 / 9)

23.88888888888889

### Try for yourself!
Try printing text with mixed numbers and letters, or just symbols, then check the type. Try multiline strings using the triple quotes. If you make any mistakes, as the chatbot for help.

In [36]:
print("""
12o2keo2k1 &*6$$?SD
"SODFWEOK"
""")

12o2keo2k1 &*6$$?SD
"SODFWEOK"

In [37]:
type("""
12o2keo2k1 &*6$$?SD
"SODFWEOK"
""")

str

Fix the errors in the following code cells.

In [39]:
# Fix the error in the following code
print("There are 366 days in a leap year")

There are 366 days in a leap year

In [40]:
# Fix the error in the following code
print("""There are 366
days in a leap year""")

There are 366
days in a leap year

A foot was defined as exactly 0.3048 meters in 1959. Convert 6 feet to meters.

In [1]:
# Write code to convert 6 feet to meters
print("Convert 6 feet to meters")
print(0.3048 * 6)

Convert 6 feet to meters
1.8288000000000002

In [2]:
# prompt: A foot was defined as exactly 0.3048 meters in 1959. Convert 6 feet to meters.

feet = 6
meters_per_foot = 0.3048
meters = feet * meters_per_foot
meters

1.8288000000000002

In [5]:
# prompt: print(75 - 5 / 9 * 32 / (8 * 11) -9 / 2 + 9 * 9**2 .9 + 9 * (2 * 6) -6) explain this equation according to PEMDAS ,
# and capture all pemdas eqaution

print(75 - 5 / 9 * 32 / (8 * 11) - 9 / 2 + 9 * 9**2.9 + 9 * (2 * 6) - 6)

# Explanation with PEMDAS:

# 1. Parentheses:
# (8 * 11) = 88
# (2 * 6) = 12

# 2. Exponents:
# 9**2.9 = 531.4413...

# 3. Multiplication and Division (from left to right):
# 5 / 9 = 0.555...
# 0.555... * 32 = 17.777...
# 17.777... / 88 = 0.2019...
# 9 / 2 = 4.5
# 9 * 531.4413... = 4782.972...
# 9 * 12 = 108

# 4. Addition and Subtraction (from left to right):
# 75 - 0.2019... = 74.798...
# 74.798... - 4.5 = 70.298...
# 70.298... + 4782.972... = 4853.270...
# 4853.270... + 108 = 4961.270...
# 4961.270... - 6 = 4955.270...


# Equation breakdown with intermediate steps:
# 1. (8 * 11) = 88
# 2. (2 * 6) = 12
# 3. 9**2.9 = 531.4413...
# 4. 5 / 9 = 0.5555...
# 5. 0.5555... * 32 = 17.7777...
# 6. 17.7777... / 88 = 0.2019...
# 7. 9 / 2 = 4.5
# 8. 9 * 531.4413... = 4782.972...
# 9. 9 * 12 = 108
# 10. 75 - 0.2019... = 74.798...
# 11. 74.798... - 4.5 = 70.2980...
# 12. 70.2980... + 4782.972...= 4853.270...
# 13. 4853.270... + 108 = 4961.270...
# 14. 4961.270... - 6 = 4955.270...

5439.085366506852

In [8]:
# use double backslash to ignore the value after the point .
print(12 / 5)
print(12 // 5) # use double slashes

2.4
2